

.debuger{
    border: 1px red solid;
}

body html{
    padding: 0;
    margin: 0;
}
/* inicia el header */
.header{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
/* section left del menu nav */
.menu-nav-left{
    display: flex;
    margin-left: 17px;
    align-items: center;
    /* width: 280px; */

}

.menu-nav-left h3{
    font-size: 1.5em;
    margin: 18px;
}
 .icon-menu__left{
     width: 40px;
     height: 40px;
     margin: 10px;
 }
 .icon-search-__left{
    width: 40px;
    height: 40px;
    margin: 10px;
 }

 /* final de la seccion menu left */

 /* inicio de la seccion menu rigth */
.menu-nav-rigth{
    display: flex;
    margin-right: 25px;
    align-items: center;
}
 .icon-shopping-car{
     margin: 0px 25px;
    width: 40px;
    height: 40px;
    
 }

 .button__account{
    display: block;
    text-align: center;
    width: 70px;
    height: 30px;
    margin: 0px 25px;
    background-color: transparent;
    outline: none;
 }

 .button__reservation{
     font-size: 10px;
     background-color:#ffc246;
     display: block;
     text-align:center;
     width: 123px;
     height: 30px;
     margin: 0px 25px;
     border-radius: 15px;
     outline: none;
 }

 .hero__section{
     width: 100%;
     display: flex;
     position: relative;
     justify-content:space-between;
    }

    .hero__section--menssage{
        width: 50%;
        height: 450px;
        margin-left:  20px;
        padding-left: 20px;
        font-size: 55px;
        font-family: fantasy;
        z-index: 2;
    }
    .button_explore{
        font-size: 15px;
        background-color:#413a3a;
        display: block;
        text-align:center;
        width: 155px;
        height: 60px;
        margin: 0px 25px;
        border-radius: 40px;
        color: yellow;
        overflow: hidden;
        outline: none;


    }

    .image__section--image{
        position: absolute;      
        left: 30%;
        width: 40%;
        top:0;
        bottom:0;
        background-image: url('../images/hero.png');
        background-repeat: none;
        background-size: cover;
        background-position: center;

        
        }

    .hero__section--selector{
        width: 20%;
        position: relative;
        left: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
   

    .selector{
        width: 80px;
        height: 80px;
        margin: 25px 0;
    }

 .hero__section--selector  .center{

    margin-right: 50px;
        align-self: flex-end;
    }

    

 
    .hero__section--social{
        
        width:25%;
        align-items: center;
        
    }
    .container_red_social{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        height: 70%;
        align-content: space-between;
        margin-right:25px;
        
    }
    .icon_face, .icon_instagram, .icon_twitter{
        width: 40px;
        height: 40px;
        margin: 25px 0;

    }


    .carousel{
        width: 100%;
        display: flex;
        height: 250px;
        padding: 10px;
    }
    .container__carousel{
       
        width: 78%;
        padding: 10px;
        margin:  0 auto;
    
                
    }

    .item__carousel{
        
        display: flex;
        border-radius: 25px;
        border: 1px solid black;
        margin: 20px;
        min-width: 150px;
        max-width: 380px;
        height: auto;

        
        
    }

    .item__carousel--image{
        margin: 5px;
        width: 50%;
        border: 1px solid red;
       
    }

    .item__carousel--image img{
        width: 90%;
        height: auto;
        object-fit: cover;

         }
     
    .item__carousel--description{
        width: 40%;
        margin: 5px;
        text-align: center;
        /* background-color: #ffc246; */
    }

    .section__medium{
        display :flex;
        justify-content: center;
        padding: 20px;

    }



    .container__section-mediun{
        display: flex;
        margin: 20px;
        
        
    }
    .container__mediun--image{
        width: 60%;
        height: 0 auto;
        border: 1px solid blue;
        overflow: hidden;
        object-fit: cover;
        margin:auto;
        background-position: center;
        background-repeat: none;
        
    }

    .container__mediun--image img{
       
        width: 100%;
        
    }


    .container__mediun--description{
        
        display: flex;
        font-family: fantasy;
        padding-top: 25px;
        margin:25px ;
        font-size: 30px;
        justify-content: center;
        text-align: center;
        align-content: space-between;
        width: 60%;
       


    }

    .container__mediun--description--text{
        display: block;
        width: 50%;
        height: auto ;
        margin-bottom: 25px;
    }
    #subtipico{
        font-size: .6em ;
        margin-bottom: 25px;
    }

    .container__mediun--description--text img{
        width: 100%;
        height: 0 auto;
    }

    .button__explore--menu{
      
        font-size: 13px;
        background-color:black;
        display: block;
        text-align:center;
        width: 185px;
        height: 60px;
        margin: 30PX;
        border-radius: 40px;
        color: yellow;
        overflow: hidden;
        justify-self: center;
        outline: none;
    

    }


    .menu{
        display: flex;
    
        flex-direction: column;


    }
    .menu__tittle{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .menu__tittle h1{
        font-size: 35px;
    }
    .menu__tittle span{
        font-size: 1.5em ;
    }


    .container__menu{
        display: flex;
        width: 100%;
        height: 0 auto;
        justify-content: space-around;

    }


    .item__menu{
        display: flex;
        width: 25%;
        height: 0 auto;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-radius: 15%;
        border:1px solid #413a3a;
    }

    .item__menu img{
        width: 100%;
    }
    .item__menu a {
        font-size: 1.5em ;
        color: black;
        text-decoration: none;
        padding-bottom:10px;
    }


    .container__buttom--recetas{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .button__recetas{
        font-size: 13px;
        background-color:black;
        display: block;
        text-align:center;
        width: 185px;
        height: 60px;
        margin: 30PX;
        border-radius: 40px;
        color: yellow;
        overflow: hidden;
        justify-self: center;
        outline: none;
        

    }

    .container__mostPopular{
        display: flex;
        width: 100%;
        height: 0 auto;
        justify-content: space-around;

    }

    .mostPopular img {
        background-color: rgb(240, 240, 226);
        border-radius: 10%;
        width: 80%;
        height: 0 auto;
        padding: 0 auto;
        margin: 0 auto;
        object-fit: cover;
    }

    .mostPopular{
        background-color: rgb(255, 255, 255);
        border-radius: 8%;
    }


    .descriptionItem{
        display: flex;
        flex-direction: column;
        margin-top: -20px;
 
    }
    .descriptionItem a{
        font-size: 15px;
        color: red;

        

    }

    .itemTitle h1{
         margin: 1px;
    }
     .descriptionPrice{
         align-items: center;
         display: flex;
         justify-content: space-around;
     }
     .descriptionPrice p {
         color: rgb(236, 233, 16);
         font-weight: 500;
     }

     .button__addCart{
         font-size: .5em;
         background-color:#cec2c29f;
         margin: 5px;
         border-radius: 10px;
         width: 75px;
         height: 25px;
         outline: none;
         
     }

     .Recipes{
         width: 100%;
         height: 0 auto;
         min-height: 300px;
         display: flex;

     }

     .container_recipes{
         width: 100%;
         margin: 10px;
         display: flex; justify-content: space-around;
        font-size: 32px;
     }
     .container__recibes--image{
         width: 40%;
         margin: 25px;
     }
     .container__recibes--image img{
         width: 100%;

     }
     .header_recibes{
         display: inline-flex;
         justify-content: space-around;
         align-items: center;
         justify-self: center;
         width: 100%;
         font-size: 1em;
     }
     .profile{
         width: 50px;
         height: 50px; 
         margin: 5px;
         border: 1px solid black;
         border-radius: 50%;
     }

     .profile img{
         height: 0 auto;
         width: 100%;
         overflow: cover;
     }

     .container__recibes--description{
         width: 40%;
         margin: 25px;
         padding: 20px;
         font-size: .5em;
         letter-spacing: .1rem;
     }



    

    

    








  


   





