@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@800&display=swap');

 body{
    background-color:  linear-gradient(snow,#ffffff);
    /* background: linear-gradient(calc(100vh - 100px) #fefcf7,#ffffff); */
    overflow-x: hidden;
 }

.debuger{
    border: 1px red solid;
}

body html{
    padding: 0;
    margin: 0;
}
/* inicia el header */
.header{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    border-radius: 15px;
   
}
/* section left del menu nav */
.menu-nav-left{
    display: flex;
    margin-left: 17px;
    align-items: center;
    /* width: 280px; */

}

.menu-nav-left h3{
    font-size: 1.5em;
    margin: 18px;
}
 .icon-menu__left{
     width: 40px;
     height: 40px;
     margin: 10px;
 }
 .icon-search-__left{
    width: 40px;
    height: 40px;
    margin: 10px;
 }

 /* final de la seccion menu left */

 /* inicio de la seccion menu rigth */
.menu-nav-rigth{
    display: flex;
    margin-right: 25px;
    align-items: center;
}
 .icon-shopping-car{
     margin: 0px 25px;
    width: 40px;
    height: 40px;
    
 }

 .button__account{
    display: block;
    text-align: center;
    width: 70px;
    height: 30px;
    margin: 0px 25px;
    background-color: transparent;
    outline: none;
    font-family: 'Francois One', sans-serif;
 }

 .button__reservation{
     font-size: 10px;
     background-color:#ffbe00;
     display: block;
     text-align:center;
     width: 123px;
     height: 30px;
     margin: 0px 25px;
     border-radius: 15px;
     outline: none;
 }

 .hero__section{
     width: 100%;
     display: flex;
     position: relative;
     justify-content:space-between;
     font-size: 32px;
     min-height: 600px;
    }

    .hero__section--menssage{
        width: 32%; 
        margin-left:  20px;
        padding-left: 20px;
        font-size: 1.5em;
        font-family: 'Francois One', sans-serif;
        z-index: 2;
    }

    .hero__section--menssage h1{
        margin: 20px;
    }
    .button_explore{ 
         display: flex;
        font-size: 10px;
        letter-spacing: 1px;
        background-color:black;
        text-align:center;
        width: 165px;
        height: 60px;
        margin: 0px 25px;
        border-radius: 40px;
        color: yellow;
        outline: none;
        margin-top: 10px;
        padding: 5px;
      align-items: center;
        justify-content: center;

    }

    .image__section--image{
        position: absolute;      
        left: 20%;
        width: 40%;
        height: 0 auto;
        
        bottom: 50px;
        
        }

        .image__section--image img{
            width: 90%;
            height: 0 auto;
        }

    .hero__section--selector{
        width: 20%;
        position: relative;
        left: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: .6em;
        
    }
   

    .selector{
        display: flex;
        width: 100px;
        height: 100px;
        margin: auto;
        object-fit: cover;
        
        
    }

    .selector  img{
        border-radius: 50%;
        width: 100%;
        
    }

    .selector img:hover{
        box-shadow: -3px -2px 23px 22px rgba(245,245,245,1);
    }

 
 .hero__section--selector  .center{

    margin-right: 50px;
        align-self: flex-end;

    }

    

 
    .hero__section--social{
        
        width:25%;
        align-items: center;
        justify-content: center;
        
    }
    .container_red_social{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 30px;
        height: 70%;
        align-content: space-between;
        margin-right:25px;
        font-size: .4em;
        
    }
    .icon_face, .icon_instagram, .icon_twitter{
        border-radius: 50%;
        background-color: #ffffff;
        width: 35px;
        height: 35px;
        margin: 40px;

    }

    .icon_face img, .icon_instagram img, .icon_twitter img{
        width: 100%;
    }



    .swiper-container {
        width: 220px;
        height: 72%;
    }
    


    .carousel{
        width: 100%;
        display: flex;
        min-height: 20 0px;
        height: 0 auto;
        padding: 5px;
        background-color: #fafafa;
    }
    .container__carousel{
        border-radius: 15px;
        width: 80%;
        padding: 10px;
        margin:  0 auto;
    
                
    }

    .item__carousel{
        
        display: flex;
        border-radius: 25px;
        margin: 20px;
        min-width: 220px;
        max-width: 180px;
        height: 0 auto;
background-color: white;

    }


    .item__carousel--image{
        justify-content: center;
        align-items: center;
        display: flex;
        margin: 3px;
        width: 35%;
        
       
    }

    .item__carousel--image img{
        width: 80%;
        height: auto;
        object-fit: cover;

         }
     
    .item__carousel--description{
        font-size: 15px;
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 5px;
        text-align: center;
        padding:5px;
        justify-content: space-between;
        font-weight: 600;

        
    }

    .item__carousel--description span{
        text-align: start;
        margin: 5px;
        font-weight: 600;
    }

 
    .section__medium{
        display :flex;
        justify-content: center;
        padding: 20px;

    }



    .container__section-mediun{
        display: flex;
        margin: 20px;
        
        
    }
    .container__mediun--image{
        display: flex;
        width: 60%;
        height: 0 auto;
        overflow: hidden;
        object-fit: cover;
        margin:auto;
        background-position: center;
        background-repeat: none;
        border-radius: 30%;
        justify-content: flex-end;
        
        
    }

    .container__mediun--image img{
       
        width: 70%;
        
    }


    .container__mediun--description{
        
        display: flex;
        font-family: fantasy;
        padding-top: 25px;
        margin:25px ;
        font-size: 30px;
        justify-content: flex-start;
        text-align: center;
        align-content: space-between;
        width: 50%;
       


    }

    .container__mediun--description--text{
        display: block;
        width: 50%; 
        height: auto ;
        margin-bottom: 20px;
        padding: 10px;
        font-family: 'Fjalla One', sans-serif;
       
    }

    .container__mediun--description--text p{
        text-align: left;
    }
    #subtipico{
        font-size: .6em ;
        margin-bottom: 25px;
        font-family: 'Fjalla One', sans-serif;
    }

    .container__mediun--description--text img{
        width: 70%;
        height: 0 auto;
    }

    .button__explore--menu{
      
        font-size: 13px;
        background-color:black;
        display: flex;
        text-align:center;
        width: 185px;
        height:  45px ;
        margin: 30PX;
        border-radius: 40px;
        color: yellow;
        overflow: hidden;
        
        outline: none;
    align-items: center;
        

    }


    .menu{
        display: flex;
    
        flex-direction: column;


    }
    .menu__tittle{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .menu__tittle h1{
        font-size: 35px;
    }
    .menu__tittle span{
        font-size: 1.5em ;
        margin: 15px;
    }


    .container__menu{
        display: flex;
        width: 100%;
        height: 0 auto;
        justify-content: space-evenly;

    }
    .image_explore{
        position: relative;
        top: 160px;
    }


    .item__menu{
        display: flex;
        width: 16%;
        height: 0 auto;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: white;
        border-radius: 15%;
        overflow:hidden;
        
                
        
    }

    .item__menu--img{
       
        width: 100%;
        height: 60%;
    }

    .item__menu--description{
        padding: 5px 1px;
        padding-left: 20%;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        align-content: space-around;
        flex-direction: column;
       
        height: 50%;
        font-family: 'Francois One', sans-serif;
        font-size: 25px;

    }

    .item__menu--description span:nth-of-type(1) {
        font-size:0.9em ;
    }
    .item__menu--description span:nth-of-type(2){
        font-size: 0.9em;
        text-align: start;
    }
    .item__menu--description button:first-of-type{
        font-size: 0.4em;
    }

    .item__menu img{
        width: 100%;
    }

    .border__item{
        display: flex;
        width: 100%;
       
        border-radius: 50%;
    }
    .item__menu a {
        font-size: 1.5em ;
        color: black;
        text-decoration: none;
        padding-bottom:10px;
    }


    .container__buttom--recetas{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .button__recetas{
        font-size: 13px;
        background-color:black;
        display: flex;
        align-items: center;
        text-align:center;
        width: 185px;
        height: 60px;
        margin: 30PX;
        border-radius: 40px;
        color: yellow;
        overflow: hidden;
        justify-self: center;
        outline: none;
        

    }


    .section__mostPopular{
        margin-top: 50px;
        background-color: #fafaf1;
    }

    /* .mostPopular{
        box-shadow: 20px 17px 5px -2px rgba(224,224,224,1); 
    } */

    .container__mostPopular{
        display: flex;
        width: 100%;
        height: 0 auto;
        justify-content:space-around;
        margin-top: 50px;

    }
    



    .mostPopular img {
       
        width: 100%;
        height: 0 auto;
        padding: 0 auto;
        margin: 0 auto;
        object-fit: cover;
    }




     .button__addCart{
         font-size: .4em;
         background-color:#e4dede2a;
         margin: 15px;
         border-radius: 10px;
         width: 90px;
         height: 25px;
         outline: none;
         font-family: 'Roboto Slab', serif;
         letter-spacing: 0.5px;
         color: rgb(168, 168, 153);
       

         
     }

     .Recipes{
         width: 100%;
         height: 0 auto;
         min-height: 300px;
         display: flex;

     }

     .container_recipes{
         width: 100%;
         margin: 10px;
         display: flex; justify-content: space-around;
        font-size: 32px;
     }
     .container__recibes--image{
         width: 40%;
         margin: 25px;

     }
     .container__recibes--image img{
         width: 100%;
         background-position: center;
         height: 0 auto;

     }
     .header_recibes{
         display: inline-flex;
         justify-content: center;
         align-items: center;
         justify-self: center;
         width: 100%;
         font-size: 1em;

         
     }
     .profile{
         width: 20%;
         height: 0 auto; 
         margin: 5px;
         padding: 5px;
        border: 1px solid;        
         border-radius:50%;
         display: flex;
         justify-content: center;
     }

     .profile img{
         height: 0 auto;
         width: 80%;
         
         
     }

     .description--profile{
         display: flex;
         flex-direction: column;
         align-items: center;
         font-size: 0.7em;
     }
     .description--profile h1{
         margin:10px;
     }
     .description--profile span{
         color: rgb(168, 168, 153);
             }


     .container__recibes--description{
         width: 40%;
         margin: 25px;
         padding: 20px;
         font-size: 0.8em;
         letter-spacing: .1rem;
         border-radius: 15px;
         line-height: 50px;
         word-spacing: 9px;
    
     }

     
     .mobile{
         display: flex;
         color: white;
         width: 100%;
         display: flex;
         
         
         background-color: black;

     }

     .mobile-text{
         display: flex;
         justify-content: flex-end;
     }

     .mobile-text span{
         font-size: 1.5em;
     }
     .mobile-text h1{
         letter-spacing: 1px;
     }
     .container__mobile{
         display: flex;
         width: 100%;
        }


     .mobile__img{
         display: flex;
         width: 60%;
        }

     .hero__mobile{
         width: 60%;
         letter-spacing: .2em;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         padding: 25px;
     }

     .hero__mobile span{
         color: yellow;
     }



     .buttons__mobile{
         display: flex;
         width: 100%;
         justify-content: space-around;
         font-family: 'Francois One', sans-serif;
     }
     
     .button_appstore{
        font-family: 'Alegreya Sans SC', sans-serif;
         display: flex;
         height: 55px;
         border-radius: 25px;
         display: inline-flex;
         align-items: center;
         justify-content: center;
         width: 180px;
         font-size: 15px;
         letter-spacing: 1.5px;


        }


     .button_GooglePlay{
        font-family: 'Alegreya Sans SC', sans-serif;
         display: inline-flex;
         justify-content: center;
         align-items: center;
         border-radius: 25px;
         height: 55px;
         letter-spacing: 1.5px;
         width: 180px;
         font-size: 15px;

     }
     .button_GooglePlay img{
         width: 85%;
     }

     .mobile__container--img img{
         width: 100%;

     }



     .footer{
         padding: 50px 0;
         width: 100%;
         display: flex;
         justify-content: center;
         background-color: #f8f6f1;

         
     }

     
     .list__container--footer {
         width: 38%;
         display: flex;
      justify-content: space-between;
      font-size: 23px;

     }

     .container__footer--info{
       
         justify-content: space-around;
         width: 40%;

     }
     .container__footer--info p{
         display: flex;
        align-items: center;
        color: #657180;
        font-size: 1.5em;
      
     }
     .container__img--footer{
         width: 100%;
         display: flex;
         object-fit: cover;
         justify-content: flex-start;
         position: relative;
         right: 111px;
     }
     .container__img--footer img{
         width: 20%;
         object-fit: contain;
     }



     .list_footer__social{
         display: flex;
         align-items: center;  
         text-decoration: underline;      
     }

     .list_footer li{
         list-style: none;
         margin: 15px 0;
         align-items: center;
         
     }
     .list_footer a{
         font-family: 'Francois One', sans-serif;;
         text-decoration: none;
         color: rgba(54, 51, 51, 0.863);
     }

     .container_price{
        display: flex; align-items: center; 
        font-size: 1em;

     }

    
     #mail img{
         width: 30px;
         height: 30px;
         margin: 10px;
        
     }
     .precio_mostpopular{
        color: #ffbe00;

     }

     @media  screen and (max-width:1024px){
         .selector{
             display: none;
         }


        .container__mediun--description--text{
        
            width: 80%;   /* 1024px = 80    // mayor = 50*/

        }

        .image__section--image{
            position: absolute;      
            left: 20%;
            width: 60%;  
        }
        .hero__section--menssage{
            width: 100%; 
            
        }
        .hero__section--selector{
            align-items: flex-end;

        }

        .hero__section--selector .center{
            margin-right: 0px;
        }
        .button_explore{
            height: fit-content;
            padding: 11px;
        }
        .item__carousel--image img{
            width: 90%;
        }


        .menu-nav-rigth{
            display: none;
        }

     

     }

     
     @media  screen and  (max-width:768)  {

         

         
        .list_footer ol{
            padding-inline-start: .5em;
            text-align: center;

        }

        .list__container--footer{
            font-size: 18px;
        }

        .selector{
            display: none;
        }
        




     }


     @media  screen and  (max-width:467px) and (min-width:319px) {
         .hero__section--menssage{
            width: 65%;
            justify-content: center;
            text-align: center;
            height: 0 auto;
         }

        .image__section--image img{
            width: 100%;
            bottom: 10px;
        }
        .image_explore {
            position: relative;
            top: 64px;
        }
        .item__menu--description span:nth-of-type(1) {
            font-size: 0.5em;
        }
         .item__menu--description{
             padding: 0;
             align-items: center;
         }
         .button__addCart{
             margin: 0;
         }
         .item__menu--description button:first-of-type {
            font-size: 0.7em;
        }
        .item__menu--description span:nth-of-type(2) {
            font-size: 0.5em;
            text-align: center;
        }
         .container__recibes--description {
             word-spacing: 0px;
             letter-spacing: 0.1em;
             font-size: 15px;
             line-height: 26px;

         }
         .header_recibes 

         .list__container--footer{
             font-size: 15px;
         }
         .container__mobile{
             flex-direction: column;
         }
         .hero__mobile{
             width: 80%;
             text-align: center;
         }
          
         .mobile__img{
             width: 100%;
         }



        .container_price{
            display: block;
             align-items: center; 
            font-size: 0.5em;
         }
         
        .precio_mostpopular{
            font-size: 0.8em;
        }
         .hero__section--social{
             display: none;
         }

         .carousel{
             width: 100%;
             margin: 0;
             padding: 0;
         }

       .menu-nav-left{
           margin-left: -1pc;
       }
         .menu-nav-rigth{
             display: none;
         }


         .hero__section--menssage h1{
             margin: 0px;
             font-size: 45px;
         }
         .hero__section--selector{
             display: none;
         }


         .container__section-mediun{
             display: block;
             width: 100%;

         }
        
         .container__mediun--image img{
            width: 100%;
            height: 0 auto;
         }
         .container__mediun--description{
             width: 100%;
             margin: 0;
         }
         .image__section--image{
             left: 0;
             width: 100%;
         }


         .descriptionPrice{
             display: block;
         }
         .menu__tittle h1{
             font-size: 35px;
             text-align: center;
         }

         .item__menu{
             width: 30%;
         }
         .itemTitle h1{
             font-size: .9em;
         }

         .container_recipes{
             display: block;

         }

         .container__recibes--image{
             width: 95%;
         }
         .container__recibes--description{
             width: 80%;
             justify-content: center;
            
         }

         
         .footer{
        
             display:block;
             justify-content: center;
             width: 100%;

         }

         .container__footer--info{
             display: flex;
             justify-content: center;
             width: 100%;
             padding: 7px;
             margin: 5px;
             flex-direction: column;
             font-size: 14px;
         }
         .container__img--footer img{
             width: 30%;
             justify-content: center;
         }
         .list__container--footer{
             font-size: 13px;
         }
         .container__img--footer{
             display: none;
         }



     }
   
     



  
     

     

    
     
    
     
    

     


     

     

     


     
     


     

     